.nav-red {
  width: 100%;
  background: rgba(255, 44, 58, 0.753);
  padding: 2rem 0;
  & h1 {
    font-family: "Playfair Display";
    color: #fff;
  }
  & p {
    color: #fff;
  }
}

.body {
  background: #eee;
  & .row-bg {
    background: #fff;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 1px 10px darken(#eee, 5%);
  }
  & .form-container,
  & .order-container {
    border: 1px solid #eee;
    border-radius: 5px;
    & form {
      border-bottom: 1px solid #eee;
    }
    & .heading {
      border-bottom: 1px solid #eee;
    }
  }
}
.image-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100%;
  padding: 1rem;
}

.inner-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  & .col {
    display: flex;
    padding: 1rem;
    background: #eee;
    border-radius: 3px;
    box-shadow: inset 0px 1px 5px #ddd;
    & img {
      max-width: 100%;
      object-fit: contain;
      border-radius: 5px;
    }
  }
}
