.header {
  background: url("https://images.clickfunnels.com/69/0882164ca44a9eb37e917041677fd8/banner.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond-section {
  background: url("https://images.clickfunnels.com/48/4444e327f042cdbe4a1bd4c49abd87/ad.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.banner-section {
  background: url("https://images.clickfunnels.com/13/5cd102eaf1473dbadff3a9b3bd9a9d/adf.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
