.popup {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
  z-index: 999999;
  overflow-y: visible;
  & .inner {
    background: #fff;
    width: 45vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
    & .close-btn {
      position: absolute;
      top: 0%;
      right: 0%;
      transition: all 0.3s ease;
      border-radius: 2px;
      padding: 1rem;
      z-index: 2;
      & i {
        color: rgb(255, 44, 58);
        font-size: 2rem;
        transition: all 0.3s ease;
      }
      &:hover {
        cursor: pointer;
        background: rgb(255, 44, 58);
        color: #fff;
        & i {
          color: #fff;
        }
      }
    }
    & .box {
      display: flex;
      justify-content: center;
      & img {
        object-fit: contain;
        max-width: 70%;
      }
    }

    & form {
      width: 100%;
    }
  }
}

.hidden {
  transform: translateY(-100vh);
  opacity: 0;
  visibility: hidden;
}

.header {
  background: url("https://images.clickfunnels.com/69/0882164ca44a9eb37e917041677fd8/banner.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  & h1 {
    font-size: 4rem;
    color: #fff;
    font-family: "Playfair Display";
  }
  & p {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #fff;
  }
  & button {
    padding: 1rem 2rem;
  }
}

.diamond-section {
  background: url("https://images.clickfunnels.com/48/4444e327f042cdbe4a1bd4c49abd87/ad.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  & h1 {
    font-family: "Playfair Display";
    font-size: 3rem;
    margin: 2rem 0;
    & span {
      color: rgb(255, 44, 58);
    }
  }
}

.banner-section {
  background: url("https://images.clickfunnels.com/13/5cd102eaf1473dbadff3a9b3bd9a9d/adf.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  & h1 {
    color: #fff;
    font-family: "Playfair Display";
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
  }
  & p {
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
  }
}

.nav-text {
  & p {
    font-family: "Playfair Display";
    color: rgb(255, 44, 58);
    margin: 1rem 0;
  }
}

.two-col-section {
  & h1 {
    font-family: "Playfair Display";
    color: rgb(255, 44, 58);
    font-size: 3rem;
    margin: 1rem 0;
  }
  & .btn-step {
    background: rgb(255, 44, 58);
    color: #fff;
    padding: 1rem 2rem;
  }
}

.video-section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1 {
    font-family: "Playfair Display";
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
    line-height: 2;
    & span {
      color: rgb(255, 44, 58);
    }
  }
  & p {
    color: #666;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.info-section {
  padding: 2rem 0;
  border-top: 1px solid #eee;
  & ul {
    list-style: none;
  }
}

@media screen and (max-width: 950px) {
  & .popup {
    & .inner {
      width: 80vw;
    }
  }
  .header {
    & h1 {
      font-size: 3rem;
      color: #fff;
      font-family: "Playfair Display";
      margin: 1rem;
    }
    & p {
      margin: 1rem;
      font-size: 1.2rem;
      color: #fff;
    }
    & button {
      padding: 1rem 2rem;
      margin: 1rem;
    }
  }
  & section {
    & h1,
    & h3,
    & h4 {
      text-align: center;
      font-size: 2rem;
    }
    & p,
    & ul,
    & li {
      text-align: center;
      font-size: 1rem;
    }
  }
}
